<div class="row mt-5">
  <div class="col-12 col-md-10 mx-auto">
    <h1>Twitter後台</h1>
    <a href="/admin/Tweets">Tweets</a>
    |
    <a href="/admin/users">Users</a>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-md-10 mx-auto">
    <table class="table">
      <thead class="bg-warning">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Tweet #</th>
          <th scope="col">Following User #</th>
          <th scope="col">Follower #</th>
          <th scope="col">Like #</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <th>{{this.id}}</th>
          <th><a href="/users/{{this.id}}/tweets">{{this.name}}</a></th>
          <td>{{this.Tweets.length}}</td>
          <td>{{this.Followings.length}}</td>
          <td>{{this.Followers.length}}</td>
          <td>{{this.Likes.length}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>