<div class="row mt-3">
  <div class="col-md-4 col-12">
    <div class="w-100"
      style="background-image: url({{profile.avatar}}); border-radius: 50%; background-repeat: no-repeat; background-position: center; background-size: cover; padding-top: 100%">
    </div>
    <h3>{{profile.name}}</h3>
    <p>{{profile.introduction}}</p>
    <hr>
    <h5><a class="text-dark" href="/users/{{profile.id}}/tweets">Tweets {{profile.Tweets.length}}</a></h5>
    <h5><a class="text-dark" href="/users/{{profile.id}}/followings">Following {{profile.Followings.length}}</a></h5>
    <h5><a class="text-dark" href="/users/{{profile.id}}/followers">Follower {{profile.Followers.length}}</a></h5>
    <h5><a class="text-dark" href="/users/{{profile.id}}/likes">Like {{profile.LikedTweets.length}}</a></h5>
    <hr>
    {{#ifCond profile.id user.id}}
    <a href="/users/{{profile.id}}/edit" class="btn btn-primary">Edit Profile</a>
    {{else}}
    <div>
      {{#if isFollowed }}
      <form action="/followships/{{followshipId}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">UnFollow</button>
      </form>
      {{else}}
      <form action="/followships" method="POST" style="display: contents;">
        <input type="number" name="followingId" value="{{profile.id}}" class="d-none">
        <button type="submit" class="btn btn-success">Follow</button>
      </form>
      {{/if}}
    </div>
    {{/ifCond}}
  </div>

  <div class="col-md-8 col-12">
    {{#each tweetArray}}
    <div class="card mb-3 shadow-sm w-100 p-2">
      <div class="row no-gutters">
        <div class="col-md-2 p-2">
          <div class="my-1 mx-auto"
            style="background-image: url({{this.User.avatar}});border-radius: 50%; background-repeat: no-repeat;background-position: center;background-size: cover;width: 5em; height: 5em">
          </div>
        </div>

        <div class="col-md-10">
          <a href="/users/{{this.User.id}}/tweets">@{{this.User.name}}</a>
          <span class="text-primary float-right">--- {{moment this.createdAt}}</span>
          <p>{{this.description}}</p>
          <a href="/tweets/{{this.id}}/replies" class="text-primary pr-2">Reply({{this.Replies.length}})</a>

          {{!-- 判斷此則 tweet 是否有帳號擁有者 like 過與否 --}}
          {{#if isLiked}}
          <form action="/tweets/{{this.id}}/unlike" method="POST" class="d-inline-block">
            <button type="submit" class="border-0">
              <i class="fas fa-heart text-danger pl-3">
                <span class="pr-4">Like({{this.Likes.length}})</span>
              </i>
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="POST" class="d-inline-block">
            <button type="submit" class="border-0">
              <i class="fas fa-heart text-secondary pl-3">
                <span class="pr-4">Like({{this.Likes.length}})</span>
              </i>
            </button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>