<div class="row mt-3">
  <div class="col-md-4 col-12">
    <div class="w-100"
      style="background-image: url({{profile.avatar}}); border-radius: 50%; background-repeat: no-repeat; background-position: center; background-size: cover; padding-top: 100%">
    </div>
    <h3>{{profile.name}}</h3>
    <p>{{profile.introduction}}</p>
    <hr>
    <h5><a href="/users/{{profile.id}}/tweets" class="text-dark">Tweets {{profile.numOfTweet}}</a></h5>
    <h5><a href="/users/{{profile.id}}/followings" class="text-dark">Following {{profile.numOfFollowing}}</a></h5>
    <h5><a href="/users/{{profile.id}}/followers" class="text-dark">Follower {{profile.numOfFollower}}</a></h5>
    <h5><a href="/users/{{profile.id}}/likes" class="text-dark">Like {{profile.numOfLikedTweet}}</a></h5>
    <hr>
    {{#ifCond user.id profile.id}}
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit Profile</a>
    {{else}}
    {{#if profile.isFollowed }}
    <form action="/followships/{{profile.followshipId}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-danger">取消追蹤</button></form>
    {{else}}
    <form action="/followships" method="POST" style="display: contents;">
      <input type="number" name="followingId" value="{{profile.id}}" class="d-none">
      <button type="submit" class="btn btn-primary">追蹤</button></form>
    {{/if}}
    {{/ifCond}}
  </div>
  <div class="col-md-8 col-12">
    <h2>Following</h2>
    <div class="row">
      {{#each userFollowings}}
      <div class="col-lg-6 col-12 p-2">
        <div class="card w-100 shadow-sm mt-1 p-2">
          <div class="row no-gutters">
            <div class="col-4">
              <div class="my-1 mx-auto"
                style="background-image: url({{this.avatar}});;border-radius: 50%; background-repeat: no-repeat;background-position: center;background-size: cover;width: 5em; height: 5em">
              </div>
            </div>
            <div class="col-8">
              <a href="/users/{{this.id}}/tweets">@{{this.name}}</a>
              <small class="float-right text-secondary">{{this.FollowerCount}} 位粉絲</small>
              <div style="height: 4em">{{this.introduction}}</div>
              <div class="w-100 text-right">
                {{#ifCond this.id ../user.id}}

                {{else}}
                {{#if this.isFollowed }}
                <form action="/followships/{{this.followshipId}}?_method=DELETE" method="POST"
                  style="display: contents;">
                  <button type="submit" class="btn btn-danger">取消追蹤</button></form>
                {{else}}
                <form action="/followships" method="POST" style="display: contents;">
                  <input type="number" name="followingId" value="{{this.id}}" class="d-none">
                  <button type="submit" class="btn btn-primary">追蹤</button></form>
                {{/if}}
                {{/ifCond}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>